extends layout

block content
  h1= title
  form(action="/models/createUser.js",method="POST")
    p ID:
      input(type="text")
    p Password:
      input(type="password")
    input(type="submit" value="アカウント作成")