extends layout

block content
  h1 #{title}
    form(action="/" method="POST")
      input(type="text" name="userName")
      labal(for="userName") ユーザー名
      input(type="email" name="userEmail")
      lable(for="uerEmail") Email
